body  {
    background-color: lightgray
}

header  {
   text-align: left


}

main  {
   text-align: left
   
}
footer  {
   text-align: left
   

}

h1 {
    text-align: center

}

img  {
    width: 100px;
    height: 100px
}
